@model StudentManagementSystem.Models.StudentInfo
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "Edit Student";
}

<h2>Edit Student</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">


    <input type="hidden" asp-for="StudentId" />

    <div>
        <label>First Name *</label>
        <input asp-for="FirstName" class="form-control" required />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div>
        <label>Middle Name</label>
        <input asp-for="MiddleName" class="form-control" />
    </div>

    <div>
        <label>Last Name *</label>
        <input asp-for="LastName" class="form-control" required />
    </div>

    <div>
        <label>DOB *</label>
        <input asp-for="DOB" type="date" class="form-control" id="dob" required />
    </div>

    <div>
        <label>Age</label>
        <input asp-for="Age" class="form-control" id="age" readonly />
    </div>

    <!-- mobile: only digits allowed -->
    <div>
        <label>Contact No *</label>
        <input asp-for="ContactNo"
               class="form-control"
               maxlength="10"
               pattern="[0-9]{10}"
               oninput="this.value=this.value.replace(/[^0-9]/g,'')"
               title="Enter valid 10 digit mobile number"
               required />
        <span asp-validation-for="ContactNo" class="text-danger"></span>
    </div>

    <!-- email format check -->
    <div>
        <label>Email *</label>
        <input asp-for="Email" type="email" class="form-control" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label>Address</label>
        <input asp-for="Address" class="form-control" />
    </div>

    <div>
        <label>Pincode</label>
        <input asp-for="Pincode" class="form-control" />
    </div>


    <!-- country dropdown -->
    <div>
        <label>Country *</label>
        <select asp-for="CountryId" id="CountryId" class="form-control">
            <option value="">Select Country</option>
            @foreach (var country in ViewBag.Countries)
            {
                <option value="@country.CountryId">@country.CountryName</option>
            }
        </select>
    </div>


    <!-- state loads based on country -->
    <div>
        <label>State *</label>
        <select asp-for="StateId"
                asp-items="@(new SelectList(ViewBag.States, "StateId", "StateName", Model.StateId))"
                class="form-control">
            <option value="">Select State</option>
        </select>
    </div>


    <!-- city loads based on state -->
    <div>
        <label>City *</label>
        <select asp-for="CityId"
                asp-items="@(new SelectList(ViewBag.Cities, "CityId", "CityName", Model.CityId))"
                class="form-control">
            <option value="">Select City</option>
        </select>
    </div>

    <div>
        <label>Amount *</label>
        <input asp-for="Amount" type="number" class="form-control" required />
    </div>

    <div>
        <label>Status</label>
        <input asp-for="Status" type="checkbox" />
    </div>


    <!-- optional image update -->
    <div>
        <label>Upload New Image</label>
        <input type="file" name="ImageFile" accept=".jpg,.jpeg,.png" />

        @if (!string.IsNullOrEmpty(Model.ImagePath))
        {
            <div style="margin-top:10px;">
                <label>Current Image:</label><br />
                <img src="@Model.ImagePath" width="120" height="120" style="object-fit:cover;" />
                <p>@System.IO.Path.GetFileName(Model.ImagePath)</p>
            </div>
        }
    </div>

    <br />

    <button type="submit">Update</button>
    <a asp-action="Index">Cancel</a>

</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>


    function calculateAge() {
        var dob = new Date($("#dob").val());
        var today = new Date();
        var age = today.getFullYear() - dob.getFullYear();
        $("#age").val(age);
    }

    $(document).ready(function () {
        calculateAge();
    });

    $("#dob").change(function () {
        calculateAge();
    });


    $("#CountryId").change(function () {
        var countryId = $(this).val();

        $.get('/Student/GetStates', { countryId: countryId }, function (data) {

            $("#StateId").empty().append('<option value="">Select State</option>');

            $.each(data, function (i, state) {
                $("#StateId").append('<option value="' + state.stateId + '">' + state.stateName + '</option>');
            });
        });
    });


    $("#StateId").change(function () {
        var stateId = $(this).val();

        $.get('/Student/GetCities', { stateId: stateId }, function (data) {

            $("#CityId").empty().append('<option value="">Select City</option>');

            $.each(data, function (i, city) {
                $("#CityId").append('<option value="' + city.cityId + '">' + city.cityName + '</option>');
            });
        });
    });

</script>
